 body {
        @apply(--layout-fullbleed);
        @apply(--paper-font-body1);
        background: url(../bgfinal.png);
      }

      paper-toolbar {
        --paper-toolbar-title: {
          line-height: 1.1;
        };
      }

      #panel:not([narrow]) #content {
        @apply(--layout-horizontal);
        @apply(--layout-fit);
      }

      #panel[narrow] #content {
        @apply(--layout-vertical);
      }


      #content > *, .column > * {
        margin: 5px;
      }

      .column {
        @apply(--layout-vertical);
        @apply(--layout-start-justified);
        max-width: 50%;
      }

      #panel[narrow] .column {
        max-width: 100%;
      }

      #videobox {
        width: 100%;
        max-width: 100%;
        height: 718px;
      }

      #video {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
        overflow: hidden;
      }

      #settings {
        @apply(--layout-vertical);
      }

      #settings > * {
        margin: 5px;
      }

      paper-button {
        width: 100%;
      }

      #upload {
        position: absolute;
        opacity: 0;
      }

      #chosenPhoto {
        max-width: 100%;
      }

     #header{
        padding: 20px;
      }
        .logo_deloitte{
            z-index: 999;
            float: right;
        }

        .title{
               font-family: sans-serif;
                font-size: 11px;
                color: #313131;
                display: inline-block;
                line-height: 10px;
                padding-left: 17px;
        }

        .sabutton{
            margin-top: 160px;
        }
.cam-btn{
    bottom: 20px;
    width: 70px;
    height: 70px;
    display: inline-block;
    background: rgba(250, 246, 246, 0.18);
    border-radius: 50%;
    border-style: dashed;
    border-color: #fff;
    border-width: 4px;
    cursor: pointer;
}

#camBtn img{
    cursor: pointer;
}
.cam-btn,.cam-labelInfo{
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 9999;
}

.cam-close{
     position: absolute;
    bottom: 20px;
    z-index: 99999;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-family: monospace;
    font-size: 26px;
    background: #000;
    text-align: center;
    line-height: 39px;
    border-radius: 50%;
}

.cam-labelInfo{
    top: 20px;
    color: #fff;
    font-size: 23px;
    font-family: monospace;
    text-transform: capitalize;
    display: block;
    left: 0;
    height: 40px;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.cam-container{
    position: relative;
}

#cam{
    display: none;
    cursor: pointer;
}
